$font: 'Open Sans', helvetica, arial, sans-serif;

// colors
$dark-text: #0B0A0A;
$bright-text: #777;
$dark-bg-text: #fff;
$brand-color: #FF4D1C;
$light-background: #f9f9f9;
$checkmark-color: #23FF8F;